* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e8e8e8;
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 15em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 3px #333;
    filter: blur(3px);
}

.content h2:nth-child(3) {
    color: #fff6;
    filter: drop-shadow(0 15px 15px #fff);
    z-index: 1;
    text-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2), 15px -15px 15px rgba(255, 255, 255, 0.2);
}

.content h2:nth-child(2) {
    color: #03a9f4;
    z-index: 2;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 61%, 4% 56%, 8% 54%, 12% 54%, 17% 51%, 22% 50%, 24% 51%, 27% 54%, 32% 56%, 36% 60%, 41% 60%, 49% 59%, 57% 56%, 63% 54%, 64% 51%, 66% 51%, 70% 49%, 74% 47%, 78% 45%, 82% 48%, 88% 44%, 92% 40%, 98% 38%, 99% 98%, 0% 98%);
    }
    50% {
        clip-path: polygon(99% 42%, 94% 43%, 88% 43%, 81% 46%, 74% 50%, 69% 53%, 67% 53%, 64% 56%, 57% 60%, 57% 60%, 53% 62%, 45% 65%, 38% 67%, 30% 68%, 25% 68%, 20% 66%, 9% 61%, 7% 60%, 4% 58%, 3% 60%, 0% 57%, 1% 99%, 100% 100%);
    }
    75% {
        clip-path: polygon(1% 55%, 3% 54%, 3% 54%, 5% 54%, 5% 54%, 17% 59%, 9% 56%, 13% 56%, 14% 56%, 15% 58%, 18% 60%, 21% 60%, 24% 59%, 25% 59%, 27% 58%, 31% 55%, 33% 54%, 33% 54%, 33% 54%, 36% 54%, 37% 59%, 39% 61%, 44% 61%, 44% 61%, 48% 58%, 51% 57%, 54% 54%, 55% 53%, 59% 51%, 62% 48%, 68% 63%, 66% 53%, 66% 53%, 66% 55%, 67% 61%, 67% 61%, 74% 66%, 76% 63%, 77% 62%, 78% 61%, 83% 56%, 87% 52%, 88% 52%, 90% 52%, 91% 52%, 95% 51%, 96% 51%, 96% 51%, 99% 51%, 99% 99%, 1% 100%);
    }
}